/* .propimage{
  
    width:100%
} */
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.card:hover img{
    transform: scale(1.1,1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 230px;
    opacity: .5;
}
.card img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 230px;
}

.member-icon{
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icon{
    bottom: 0;
    opacity: 1;
}

.animate{
    transition: all 0.2s ease-in-out;
}


.card-body h1{
    font-family: fantasy;
    color:#0069d9;
}

.font-highlight{
    font-style: italic;
    color: red;
}