/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';


.ng-invalid.ng-touched{
    border-color: red;
}

.Error-block{
    color: red;
}

/* radio button style currently not applied */
/* .btn-group > label[ng-reflect-btn-radio]{
    border-radius: 4px;
    padding: 0 15px;
    line-height: 30px;
} */
