
<button class="btn btn-primary" (click)="back()">Back</button>


<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
            <div class="form-group col-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="Name" #propName="ngModel" ngModel required minlength="5">
                <span *ngIf="propName.invalid && propName.touched" class="Error-block"> 
                    <span *ngIf="propName.errors?.['required']">Please provide name</span>
                    <span *ngIf="propName.errors?.['minlength']">Please enter min 5 charecter</span>
                </span>
            </div>
            <div class="form-group col-12">
                <label for="type">Type</label>
                <input type="text" class="form-control" name="Type" ngModel>
            </div>
            <div class="form-group col-12">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="Price" ngModel>
            </div>
            <div class="form-group col-12 my-2">
                <button [disabled]="!Form.valid" type="submit" class="btn btn-primary" style="margin-right: 10px;">Submit</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
        </form>
      </div>
    </div>
    </div>
</div>
<!-- <div class="card">
    <div class="card-header">
        Add new property
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
            <div class="form-group col-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="Name" #propName="ngModel" ngModel required minlength="5">
                <span *ngIf="propName.invalid && propName.touched" class="Error-block"> 
                    <span *ngIf="propName.errors?.['required']">Please provide name</span>
                    <span *ngIf="propName.errors?.['minlength']">Please enter min 5 charecter</span>
                </span>
            </div>
            <div class="form-group col-12">
                <label for="type">Type</label>
                <input type="text" class="form-control" name="Type" ngModel>
            </div>
            <div class="form-group col-12">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="Price" ngModel>
            </div>
            <div class="form-group col-12 my-2">
                <button [disabled]="!Form.valid" type="submit" class="btn btn-primary" style="margin-right: 10px;">Submit</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div> -->
